<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic iste eum doloremque nobis numquam voluptates
        voluptate dolore consequuntur similique ducimus assumenda corrupti in nesciunt, quasi porro explicabo accusamus
        consectetur quis.</p>
    <div id="demo"></div>
    <div id="demoForDriver">
        <p id="test"></p>
        <button id="accept">Accept</button>
        <button id="update">Update</button>
    </div>

    <%# jQuery Library %>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <%# Socket.io JS Library %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <%# Socket.io Code Let's start %>
    <script>
        const socket = io.connect('http://localhost:3000', { query: "token=<%= token %>", forceNew: true });
        socket.emit("Order", { dataRequest: { customerID: 1, long: "5", lat: "5", location: "Ismailia" } })
        socket.on("statusFound", async (data) => {
            $("#demo").text(data.statusFound);
        })
        socket.on("orderToDrivers", data => {
            console.log(`There is a new order- ${data.dataRequest}. Accept it`);
            $("#accept").click(() => {
                socket.emit("orderAcceptedByDriver", { driverID: 3, dataRequest: data.dataRequest })
            })
        })
        socket.on("privateMessage", data => {
           $("#demo").text(`Your request is accepted now by ${data.driverID}-${Math.random()}`);
        });

        socket.on("privateMessageA", data => {
           $("#demo").text(`Your request is accepted now by ${data.driverID}-${Math.random()}`);
        });
        
        
        socket.on("tokenStatus", data => {
            console.log(`${data.tokenStatus}`);
        })

        socket.on("onUpdated", data => {
            $("#update").click(() => {
                socket.emit("onUpdatedA", { driverID: 3, customerID: data.customerID })
            })
        })
    </script>

    
</body>

</html>