<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <h3>Here is a simple content</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed doloremque nemo architecto vitae iusto molestias accusamus reiciendis fugiat eaque dicta, error, odio veniam hic rem dolorum inventore quisquam. Officia, aliquam.</p>
        <button type="button" id="Order">Order</button>
        <div class="orderMessageToCustomer"></div>
        <div class="orderMessageToDriver"></div>
    </div>

    <%# jQuery Library %>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

    <%# Socket.io JS Library %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

    <%# Socket.io Code Let's start %>
    <script>
        const socket = io.connect('http://localhost:3000', { query: "token=<%= token %>", forceNew: true });
        $("#Order").click(() => {
            socket.emit("Order", { dataRequest: { customerID: 3, fullname: "Mohamed Adel Ahmed", long: "5", lat: "5" } })
        })
        socket.on("statusFound", async (data) => {
            $(".orderMessageToCustomer").text(data.statusFound);
        })
        socket.on("orderToDrivers", data => {
            $(".orderMessageToDriver").html(`There is an Order with ID: ${data.dataRequest._id} recieved from the customer ${data.dataRequest.customerID} - ${data.dataRequest.fullname} - ${data.dataRequest.location} - ${data.dataRequest.long} - ${data.dataRequest.lat} You can accept it now <button id="accept">Accept</button> `);
            $("#accept").click(() => {
                socket.emit("orderAcceptedByDriver", { driverID: 3, dataRequest: data.dataRequest })
            })
        })

        socket.on("tokenStatus", data => {
            console.log(`${data.tokenStatus}`);
        })

        socket.on("driverAttentionEvent", data => {
            $(".orderMessageToDriver").text(data.driverAttention);
        })

        socket.on("privateMessageToCancel", data => {
            $(".orderMessageToCustomer").html(`${data.driverDetails.fullname} with ID ${data.driverDetails.driverID} has accepted your order. You can cancel the order now in 30 seconds <button id="cancel">Cancel</button>`);
            setTimeout(() => {
                 $(".orderMessageToCustomer").remove();
                 socket.emit("acceptOrderEvent", { driverID: data.driverDetails.driverID, dataRequest: data.dataRequest } )
            }, 30000);
            $("#cancel").click(() => {
                socket.emit("cancelOrderEvent", { driverID: data.driverDetails.driverID, dataRequest: data.dataRequest })
            })
        })
    
        socket.on("CancelToCustomer", data => {
            $(".orderMessageToCustomer").text(data.msg);
        })

        socket.on("CancelToDriver", data => {
            $(".orderMessageToDriver").text(data.msg);
        })

        socket.on("acceptToDriver", data => {
            $(".orderMessageToDriver").text(data.msg);
        })
        
        socket.on("onUpdated", data => {
            $("#update").click(() => {
                socket.emit("onUpdatedA", { driverID: 3, customerID: data.customerID })
            })
        })
    </script>

    
</body>

</html>